<!-- Include header -->
<%- include("header") %>
<!-- Include Message -->
<div role="main" class="container">
<h2> Welcome to <%= message %></h2>
</div>
<!-- Include Footer -->
<%- include("footer") %>
