<!-- Include header -->
<%- include("header") %> 
        
        <div role="main" class="container">
        
            <br/><br/>
            <!-- Include Message -->
            <h2>Welcome to the <%= message %>!</h2>
        
        </div>
        <!-- Include Footer -->
        <%- include("footer") %>






